/* Add contact */

.addcontact{
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
margin:32px 0 100px 0
}


.main-div{

margin-bottom: 50px;
}


/* About Page */
.aboutpage{
    /* border: 2px solid rebeccapurple; */
margin:100px 0 200px 0
}